<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.medina.adichallenge">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".ui.AdiChallengeApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdiChallenge"
        android:networkSecurityConfig="@xml/security_config"
        android:allowBackup="false"
        tools:ignore="UnusedAttribute">
        <activity
            android:name="tech.medina.adichallenge.ui.product.list.ProductListActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tech.medina.adichallenge.ui.product.detail.ProductDetailActivity"
            android:parentActivityName="tech.medina.adichallenge.ui.product.list.ProductListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.medina.adichallenge.ui.product.list.ProductListActivity" />
        </activity>
        <activity
            android:name=".ui.review.list.ReviewListActivity"
            android:parentActivityName="tech.medina.adichallenge.ui.product.detail.ProductDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.medina.adichallenge.ui.product.detail.ProductDetailActivity" />
        </activity>
        <activity
            android:name=".ui.review.detail.ReviewDetailActivity"
            android:parentActivityName="tech.medina.adichallenge.ui.product.detail.ProductDetailActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.medina.adichallenge.ui.product.detail.ProductDetailActivity" />
        </activity>

    </application>

</manifest>